{% load static %}
<header>
    <div class="container max">
      <div class="wrap">
        <div class="nv__menu col xl12">
          <div class="wrap">
            <ul class="col xl10">
              <li><a href="#">Главная</a></li>
              <li><a href="#">Главная</a></li>
              <li><a href="#">Главная</a></li>
              <li><a href="#">Главная</a></li>
              <li><a href="#">Главная</a></li>
            </ul>
            <div class="nv__aut col xl2">
              <button class="btn">Регистрация</button>
              <button class="btn">Войти</button>
  
            </div>
          </div>
  
        </div>
      </div>
    </div>
  
  </header>