{% extends "base.html" %}

{% block idx %}
<div class="col xl4 __us__logo __block">
    <div class="element">
      <img src="/img/logo.png" alt="">
    </div>
    <div class="element__title">
      <div class="text">WT</div>
    </div>
  </div>
  <div class="col xl8 __us__content __block">
    <span>О компании: </span>
    <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вопроса бросил грамматики
      необходимыми пояс, путь она образ по всей вскоре.</p>
    <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.</p>
  </div>
{% endblock idx %}